{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Estatus ZF</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU26viv57nX1nX7D6LKCkTRTUdN3aO0fc"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>
    </head>
    <body>
        <div id="output"></div>
        
        <div id="top">
            REPORTE DE ESTATUS TRW
        </div>

        <div id="wrapper">
            <div id="menu">
                <ul>
                    <li>SANTA ROSA</li>
                    <li>SIDISA</li>
                    <li>EL MARQUEZ</li>
                    <li>ROTORES</li>
                </ul>
            </div>
            
            <div id="contenedor-principal">
                <div id="contenedor2">
                    <form id="distanceForm">
                        <label for="origin">Origin:</label>
                        <input type="text" id="origin" name="origin" required>

                        <label for="destination">Destination:</label>
                        <input type="text" id="destination" name="destination" required>

                        <label for="orden">Orden:</label>
                        <input type="text" id="orden" name="orden" required>

                        <label for="carro">Carro:</label>
                        <input type="text" id="carro" name="carro" required>
                        
                        <label for="remolque">Remolque:</label>
                        <input type="text" id="remolque" name="remolque" required>
                        <button type="submit">Calculate Distance</button>
                    </form>
                </div>

                <div id="contenedor">
                    <table id="resultsTable">
                        <thead>
                            <tr>
                                <th>Orden de Venta</th>
                                <th>Trailer</th>
                                <th>Remolque</th>
                                <th>Ubicación Actual</th>
                                <th>Destino</th>
                                <th>Distancia</th>
                                <th>Tiempo Estimado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Las filas con los resultados se insertarán aquí -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="{% static 'scripts/scripts.js' %}"></script>
    </body>
</html>