<!DOCTYPE html>
<html>
    <head>
        <title>ESTATUS ZF</title>
    </head>
    <body>
        {% include "index.html" %}
        <div class="form-container">
            <form>
                <input type="text" name="cantidad" placeholder="Cantidad">
                <input type="text" name="cliente" placeholder="Número de Cliente (4 dígitos)" maxlength="4">
                <input type="text" name="campo1" placeholder="Campo de Texto 1">
                <input type="text" name="campo2" placeholder="Campo de Texto 2">
                <button type="button">Ejecutar script</button>
            </form>
        </div>
    </body>
</html>
